<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
        <body>
            <%- include('header');-%>
            <h1>This is codieal / <%= title %> </h1>
            <%- include('footer');-%>
            
        </body>
</html>