<h1>Sign-Up</h1>
<section class="mainContainer"> 
    <form action="/user/create" method="post" required>
        <input type="name" placeholder="Your Name" required>
        <input type="email" placeholder="Your Email" required>
        <input type="password" placeholder="Your Password" required>
        <input type="password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>
</section>